<h2>Question:</h2><br>
<b>Name:</b><br>
<%= @request.name %><br>
<b>Contact:</b><br>
<%= @request.contact %><br>
<b>Content:</b><br>
<%= @request.content %><br>

<br>
<br>

<div>
    <%= link_to "I want to answer" , controller:"responses", action:"new", r_id: @request.id %>
</div>
<br>
<div>
    <%= link_to "Pranv's idea", controller:"responses", action: "auto", id: @request.id%>
</div>
<br>
<div>
    <%= link_to "Ranga's idea", controller:"responses", action: "ranga", id: @request.id%>
</div>
