<h2>Request Info:</h2><br>
<b>Name:</b><br>
<%= @request.name %><br>
<b>Contact:</b><br>
<%= @request.contact %><br>
<b>Content:</b><br>
<%= @request.content %><br>



<h2>Response Info:</h2>
<b>Name:</b><br>
<%= @response.name %><br>
<b>Contact:</b><br>
<%= @response.contact %><br>
<b>Content:</b><br>
<%= @response.content %><br>
